---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main id="404">
    <div class="text-center text-xl">
      <h1>Page Not Found</h1>
      <p>Redirecting to the home page...</p>
      <script>
        setTimeout(() => {
          window.location.href = "/";
        }, 2000);
      </script>
    </div>
  </main>
</Layout>
