---
import { SITE } from "@config";
title: "Portfolio";
// import { Tweet, Vimeo, YouTube } from "astro-embed";
import Layout from "@layouts/Layout.astro";
// import Socials from "@components/Socials.astro";
import { Image } from "astro:assets";
import upwork from "@assets/images/upwork-fancy.png";
import clickToContact from "@assets/images/click-to-contact.png";
import { YouTube } from "astro-embed";
---

<Layout>
  <main id="main-content">
    <section id="hero">
      <h1>
        Bạn muốn trở thành freelancer video editor nhưng không biết bắt đầu từ
        đâu để có kết quả thật sự?
      </h1>
    </section>
    <p>
      Khóa học bạn cần để kiếm 1000 đô/tháng hoàn toàn online với kỹ năng nhu
      cầu cao và cần nhân lực nhất <b>VIDEO EDITING</b>
    </p>
  </main>
  <p>
    Con đường trở thành Freelancer video editor quốc tế thành công ở trên upwork
    và mang về mức thu nhập mơ ước
  </p>
</Layout>
<p>
  Đây chính là khóa học toàn diện có đầy đủ TẤT CẢ những gì bạn CẦN để đạt được
  mức thu nhập 1000 đô / tháng với kỹ năng video editing
</p>

<p>
  Bao gồm các dạng video có nhu cầu rất cao như faceless, talking-head,
  football,....và rất nhiều bài học khác Cho đến các kỹ năng xin việc giúp bạn
  THẮNG job lương cao
</p>
<YouTube id="VLqcTdwd6CQ" />

<section class="mb-8 mt-8">
  <h2 class="title mb-4 text-2xl font-bold">AI LÀ NGƯỜI DẠY BẠN ?</h2>
  <div
    class="relative max-w-4xl mx-auto mt-10 text-xl font-bold text-green-500"
  >
    <h3 class="title mb-4 font-bold">LỢI ĐỖ</h3>
    <p>- Top Rated Plus trên upwork</p>
    <p>- Freelancer video editor với hơn 1 năm kinh nghiệm</p>
    <p>
      - Mình cũng là chủ của một agency rất thành công về lĩnh vực video editor
    </p>
  </div>
</section>
<p>
  Trong quá khứ mình đã có hơn 7 năm làm công nhân trong công ty may với thời
  gian làm việc hơn 8 tiếng mỗi ngày nhưng với mức thu nhập ít ỏi
</p>

<p>Nỗi lo cắt giảm nhân sự cùng với áp lực kinh tế để lo cho gia đình</p>

<p>
  Cuộc sống và mức thu nhập của mình đã thay đổi khi dấn thân và theo đuổi lĩnh
  vực video editor
</p>

<p>
  Mình nói ra ở đây không phải để khoe với các bạn sự thay đổi hay thành công
  của mình MÀ mình muốn nhấn mạnh là NẾU MÌNH LÀ MỘT
</p>

<section class="mb-8 mt-8">
  <h2 class="title mb-4 text-2xl font-bold">
    NGƯỜI CÔNG NHÂN CÓ THỂ VƯƠN LÊ VÀ LÀM ĐƯỢC THÌ BẠN CŨNG LÀM ĐƯỢC
  </h2>
  <p>
    Với kinh nghiệm thực chiến và kiến thức tích lũy được từ các dự án thực tế
    bản thân mình sẵn sàng chia sẻ và giúp đỡ bạn đạt được thành công với con
    đường freelancer video editor
  </p>
</section>
<p>Đến đây bạn có hai lựa chọn :</p>
<p>1. Tiếp tục đi theo con đường cũ và cuộc sống không có gì thay đổi cả</p>
<p>
  2. Trao cho bản thân một cơ hội học video editing để thay đổi cuộc sống và mức
  thu nhập
</p>

<p>
  Nếu bạn lựa chọn TRAO CƠ HỘI cho bản thân thì mình xin chúc mừng bạn . Bạn
  xứng đáng đạt được thành công với video editing
</p>

<section class="mb-8 mt-8">
  <h2 class="title mb-4 text-2xl font-bold">
    Dưới đây bạn sẽ có 3 OPTIONS khi đăng kí khóa học :
  </h2>

  <div class="max-w-4xl mx-auto space-y-8">
    <!-- Option 1 -->
    <div class="bg-white shadow rounded-lg p-6">
      <h2 class="text-2xl font-bold text-gray-800">Option 1</h2>
      <ul class="list-disc pl-5 mt-4 space-y-2 text-gray-700">
        <li>
          Khóa học về Upwork: làm profile, viết thư chào giá, cách tìm kiếm
          khách hàng
        </li>
        <li>Khóa học edit video từ cơ bản đến nâng cao</li>
        <li>
          Học edit các style Iman Gadzhi, Alex Hormozi và nhiều style nổi tiếng
          như MagnateMedia, Vox
        </li>
        <li>Hỗ trợ 1-1 và giải đáp các thắc mắc trong khóa học qua tin nhắn</li>
      </ul>
      <p class="mt-6 font-semibold text-gray-800">
        Bạn nên đăng ký Option 1 nếu:
      </p>
      <ul class="list-disc pl-5 mt-2 space-y-2 text-gray-700">
        <li>Bạn có khả năng tự học tốt</li>
        <li>Muốn tự mình thử sức với Upwork</li>
        <li>Bạn muốn tiết kiệm chi phí</li>
      </ul>
      <p class="mt-6 text-xl font-bold text-green-600">Giá: 4.500.000 VNĐ</p>
    </div>

    <!-- Option 2 -->
    <div class="bg-white shadow rounded-lg p-6">
      <h2 class="text-2xl font-bold text-gray-800">Option 2</h2>
      <ul class="list-disc pl-5 mt-4 space-y-2 text-gray-700">
        <li>Khóa học edit video từ cơ bản đến nâng cao</li>
        <li>
          Học edit các style Iman Gadzhi, Alex Hormozi và nhiều style nổi tiếng
          như MagnateMedia, Vox
        </li>
        <li>Hỗ trợ 1-1 và giải đáp các thắc mắc trong khóa học</li>
        <li>Được mình kèm 1-1, gọi cho mình bất cứ lúc nào</li>
        <li>Được chữa bài tập chi tiết, sau đó mới được qua bài</li>
      </ul>
      <p class="mt-6 font-semibold text-gray-800">
        Bạn nên đăng ký Option 2 nếu:
      </p>
      <ul class="list-disc pl-5 mt-2 space-y-2 text-gray-700">
        <li>Bạn muốn được kèm 1-1</li>
        <li>Bạn muốn được chữa bài chi tiết và học nhanh hơn</li>
      </ul>
      <p class="mt-6 text-xl font-bold text-green-600">Giá: 7.500.000 VNĐ</p>
    </div>

    <!-- Option 3 -->
    <div class="bg-white shadow rounded-lg p-6">
      <h2 class="text-2xl font-bold text-gray-800">
        Option 3: Gói Toàn Diện Nhất
      </h2>
      <ul class="list-disc pl-5 mt-4 space-y-2 text-gray-700">
        <li>Khóa học edit video từ cơ bản đến nâng cao</li>
        <li>
          Học edit các style Iman Gadzhi, Alex Hormozi và nhiều style nổi tiếng
          như MagnateMedia, Vox
        </li>
        <li>Hỗ trợ 1-1 và giải đáp các thắc mắc trong khóa học</li>
        <li>Được mình kèm 1-1</li>
        <li>Đồng hành và kèm cho đến khi các bạn có công việc ổn định</li>
        <li>
          Trong quá trình học có thể nhận việc từ mình và các bạn học viên đi
          trước
        </li>
        <li>Đồng hành trọn đời</li>
        <li>Hỗ trợ phỏng vấn với khách hàng</li>
        <li>Hỗ trợ hoàn thành công việc nếu bạn chưa thể làm hết 100%</li>
      </ul>
      <p class="mt-6 font-semibold text-gray-800">
        Bạn nên đăng ký Option 3 nếu:
      </p>
      <ul class="list-disc pl-5 mt-2 space-y-2 text-gray-700">
        <li>Bạn muốn đạt được thành công vững chắc hơn</li>
        <li>Tiết kiệm thời gian cho bản thân</li>
        <li>Sở hữu kinh nghiệm thực chiến từ sớm</li>
        <li>Có được công việc đầu tiên nhanh chóng</li>
        <li>Bạn không tự tin với tiếng Anh của mình</li>
      </ul>
      <p class="mt-6 text-xl font-bold text-green-600">Giá: 12.500.000 VNĐ</p>
    </div>
  </div>
</section>

<style>
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-4xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }

  #shake {
    animation: tilt-n-move-shaking-avata 1.5s infinite;
  }

  .shake-button:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
  }

  #button-heading:focus {
    animation: horizontal-shaking 0.01s infinite;
  }

  #theme-btn {
    @apply p-3 sm:p-1;
  }
  #theme-btn svg {
    @apply scale-125 hover:rotate-12 sm:scale-100;
  }

  #clickToContact {
    margin-bottom: -45px;
    margin-left: 140px;
    @apply animate-bounce;
  }

  @keyframes tilt-n-move-shaking-avata {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(2px, 2px) rotate(2deg);
    }
    50% {
      transform: translate(0, 0) rotate(0eg);
    }
    75% {
      transform: translate(-2px, 2px) rotate(-2deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(0.75px);
    }
  }

  @keyframes tilt-n-move-shaking {
    0% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(0.1px);
    }
    25% {
      transform: translate(5px, 5px) rotate(5deg);
      filter: blur(0.25px);
    }
    50% {
      transform: translate(0, 0) rotate(0eg);
      filter: blur(0.5px);
    }
    75% {
      transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(1px);
    }
  }

  @keyframes horizontal-shaking {
    0% {
      transform: translateX(0);
      filter: blur(1px);
    }
    25% {
      transform: translateX(10px);
      filter: blur(2px);
    }
    50% {
      transform: translateX(-10px);
      filter: blur(3px);
    }
    75% {
      transform: translateX(10px);
      filter: blur(4px);
    }
    100% {
      transform: translateX(0);
      filter: blur(5px);
    }
  }

  @keyframes horizontal-shaking {
    0% {
      transform: translateX(0);
      filter: blur(1px);
    }
    25% {
      transform: translateX(1px);
      filter: blur(2px);
    }
    50% {
      transform: translateX(-1px);
      filter: blur(3px);
    }
    75% {
      transform: translateX(1px);
      filter: blur(4px);
    }
    100% {
      transform: translateX(0);
      filter: blur(5px);
    }
  }
</style>

<script is:inline>
  /** Scrolls the document to the top when
   * the "Back to Top" button is clicked. */
  function backToTop() {
    document.querySelector("#back-to-top")?.addEventListener("click", () => {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
  }
  backToTop();
  document.addEventListener("astro:after-swap", backToTop);
</script>
