---
title: "Portfolio";
// import { Tweet, Vimeo, YouTube } from "astro-embed";
import Layout from "@layouts/Layout.astro";
// import Socials from "@components/Socials.astro";
import { Image } from "astro:assets";
import upwork from "@assets/images/upwork-fancy.png";
---

<Layout>
  <main id="main-content">
    <section id="hero">
      <div class="mb-20">
        <h1>Loi Do/ Video editor</h1>
        <div style="padding:56.25% 0 0 0;position:relative;">
          <iframe
            src="https://player.vimeo.com/video/956382248?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            title="Boxing： The Hardest Part｜Boxing Saigon"></iframe>
        </div><script src="https://player.vimeo.com/api/player.js"></script>
      </div>
      <div class="text-xl font-bold">
        <p>
          WhatsApp: <a
            href="/whatsapp-editor-LoiD"
            target="_blank"
            rel="noopener noreferrer"
            class="text-lg font-bold decoration-dashed hover:underline"
            >+84 368391658</a
          >
        </p>
        <p>
          Telegram: <a
            href="/Telegram-editor-LoiD"
            target="_blank"
            rel="noopener noreferrer"
            class="text-lg font-bold decoration-dashed hover:underline"
            >+84 368391658</a
          >
        </p>
      </div>
      <a href="/upwork-editor-LoiD">
        <Image
          src={upwork}
          width={300}
          format={"webp"}
          alt="upwork"
          loading="eager"
          class="mb-8"
          id="shake"
        />
      </a>
      <div>
        <a href="#faceless">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Faceless</button
          >
        </a>
        <a href="#talking-head">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Talking-head</button
          >
        </a>
        <a href="#shorts">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Shorts</button
          >
        </a>
        <a href="#football">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Football</button
          >
        </a>
        <a href="#documentary">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Documentary</button
          >
        </a>
        <a href="#travel">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Travel</button
          >
        </a>
        <a href="#boxing">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Boxing</button
          >
        </a>
        <a href="#car">
          <button
            id="button-heading"
            type="button"
            class="mb-2 me-2 rounded-full border border-gray-300 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            >Car</button
          >
        </a>
      </div>
    </section>
    <section id="Animation" class="mb-8 mt-8">
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/956371451?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false&autoplay=1&loop=1&muted=1&controls=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Saigon, Vietnamese Coffee ｜ markdieu v1.2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/956365994?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false&autoplay=1&loop=1&muted=1&controls=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Saigon, Vietnamese Coffee ｜ markdieu v1.2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:95% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/956388729?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false&autoplay=1&loop=1&muted=1&controls=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Saigon, Vietnamese Coffee ｜ markdieu v1.2"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section id="faceless" class="mb-8 mt-8">
      <h2 id="faceless" class="title mb-4 text-2xl font-bold">Faceless</h2>
    </section>
    <section id="talking-head" class="mb-8 mt-8">
      <h2 id="talking-head" class="title mb-4 text-2xl font-bold">
        Talking-head
      </h2>
    </section>
    <section id="shorts" class="mb-8 mt-8">
      <h2 id="shorts" class="title mb-4 text-2xl font-bold">Shorts</h2>
    </section>
    <section id="football" class="mb-8 mt-8">
      <h2 id="football" class="title mb-4 text-2xl font-bold">Football</h2>
    </section>
    <section id="documentary" class="mb-8 mt-8">
      <h2 class="title mb-4 text-2xl font-bold">Documentary</h2>
    </section>
    <section id="travel" class="mb-8 mt-8">
      <h2 id="travel" class="title mb-4 text-2xl font-bold">Travel</h2>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952803807?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Ho Chi Minh City ｜ phothrottle"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952798415?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Da Nang ｜  Escaping Comfort Zone"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952798464?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Ha Giang Loop ｜  Escaping Comfort Zone"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:42.55% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952790718?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Walking across Vietnam trailer"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/954290316?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="travel-trial-v1.1-h265"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section id="boxing" class="mb-8 mt-8">
      <h2 class="title mb-4 text-2xl font-bold">Boxing</h2>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952820912?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="On the aftermath of Anthony Joshua vs Francis Ngannou fight v1.0.1 [3Gapj9M-smY]"
        ></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952821413?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Boxing： The Hardest Part｜Boxing Saigon"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section id="car" class="mb-8 mt-8">
      <h2 id="car" class="title mb-4 text-2xl font-bold">Car</h2>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952798897?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="2024 Mazda CX-90 Plug-in Hybrid Electric SUV ｜ Sleepy Garage"
        ></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:50% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952801928?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Daikoku Parking Area： Cars and Coffee ｜ phothrottle"
        ></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
      <div style="padding:41.89% 0 0 0;position:relative;">
        <iframe
          src="https://player.vimeo.com/video/952819738?badge=0&autopause=0&portrait=false&title=false&byline=false&badge=false"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="Untitled"></iframe>
      </div><script src="https://player.vimeo.com/api/player.js"></script>
    </section>
    <section class="mb-20 mt-10">
      <a
        href="#main-content"
        <button
        type="button"
        class="shake-buttonme-2 ml-2 rounded-lg bg-green-700 px-5 py-2.5 text-5xl font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >Let's work together</a
      >
    </section>
    <div class="fixed bottom-4 right-4">
      <button
        id="back-to-top"
        class="rounded-full bg-green-600 px-3 py-2 font-bold text-white opacity-30 shadow-lg"
      >
        <svg
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18"></path>
        </svg>
      </button>
    </div>
  </main>
</Layout>

<style>
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-4;
  }

  #shake {
    animation: tilt-n-move-shaking-avata 1.5s infinite;
  }

  .shake-button:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
  }

  #button-heading:focus {
    animation: horizontal-shaking 0.01s infinite;
  }

  #af {
    margin-bottom: -60px;
  }

  #af:hover {
    animation: horizontal-shaking 0.001s infinite;
  }

  @keyframes tilt-n-move-shaking-avata {
    0% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(0.1px);
    }
    25% {
      transform: translate(2px, 2px) rotate(2deg);
      filter: blur(0.25px);
    }
    50% {
      transform: translate(0, 0) rotate(0eg);
      filter: blur(0.5px);
    }
    75% {
      transform: translate(-2px, 2px) rotate(-2deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(1px);
    }
  }

  @keyframes tilt-n-move-shaking {
    0% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(0.1px);
    }
    25% {
      transform: translate(5px, 5px) rotate(5deg);
      filter: blur(0.25px);
    }
    50% {
      transform: translate(0, 0) rotate(0eg);
      filter: blur(0.5px);
    }
    75% {
      transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
      filter: blur(1px);
    }
  }

  @keyframes horizontal-shaking {
    0% {
      transform: translateX(0);
      filter: blur(1px);
    }
    25% {
      transform: translateX(10px);
      filter: blur(2px);
    }
    50% {
      transform: translateX(-10px);
      filter: blur(3px);
    }
    75% {
      transform: translateX(10px);
      filter: blur(4px);
    }
    100% {
      transform: translateX(0);
      filter: blur(5px);
    }
  }

  @keyframes horizontal-shaking {
    0% {
      transform: translateX(0);
      filter: blur(1px);
    }
    25% {
      transform: translateX(1px);
      filter: blur(2px);
    }
    50% {
      transform: translateX(-1px);
      filter: blur(3px);
    }
    75% {
      transform: translateX(1px);
      filter: blur(4px);
    }
    100% {
      transform: translateX(0);
      filter: blur(5px);
    }
  }
</style>

<script is:inline>
  /** Scrolls the document to the top when
   * the "Back to Top" button is clicked. */
  function backToTop() {
    document.querySelector("#back-to-top")?.addEventListener("click", () => {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
  }
  backToTop();
  document.addEventListener("astro:after-swap", backToTop);
</script>
